@charset "UTF-8";


.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 300,
  'GRAD' 0,
  'opsz' 10;
  position: absolute;
  right: 0px;
  top: -2px;
  color: #354044;
}

.material-symbols-outlined.hide {
	display: none;
}



body{
	height: 100%;
}

main{
	width: 100%;
	display: flex;
	flex-direction: column;
}

#box1 #box2{
	height: 50px;
	position: relative;
	align-items: center;
	margin: 10px 0px;
}

#box2 div{
	position: absolute;
	right: 10px;
	top: 2%;
}

#box2 form{
	border-radius: 5px;
}
#box1 #collecter{
	margin:10px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	position: relative;
}	

#collecter .none{
	/*border: 1px solid black;*/
}

#collecter .day{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;	
	border-bottom: 1px solid black;
	background-color: #777;
	color: white;
	border-radius: 2px;
}

#collecter .date{
	font-size: 18px;
	height: 110px;
	/*border: 1px solid black;*/
}
.date_num{
	position: relative;
	border-bottom: 1px solid #777;	
	
}


.date_note{
	margin-top: 3px;
	cursor: pointer;
	font-size: 15px;
}

.date_note a{
	color: black;
}

.date_subject{
	font-weight: 700;
}
.date_content{
	width: 140px;
	white-space : nowrap;
	overflow : hidden;
	text-overflow: ellipsis;
}
.note ,.insertnote{
	background-color: rgba(255,255,255,0.5);
	position: absolute;
	z-index: 3;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.content{
	width: 90%;
	height: 40%;
	border: 1px solid #354044;
	position: relative;
}

.date .hide{
	position: absolute;
	display: none;
}

.combutton{
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 30px;
}

.combutton input{
	position: absolute;
	right: 3px;
}

a{
	text-decoration-line: none;
}

.pretty-button {
    background-color: #4CAF50;
        color: white;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
}

.red-button {
    background-color: RGBA(220, 53, 69, var(--bs-bg-opacity, 1));
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.blue-button {
    background-color: #0b5ed7;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.pretty-button:hover {
    background-color: #45a049; /* Darker Green */
}

.panel-body, .notebox ,.insertnotebox{
    background: white;
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.partnote input{
    weight: 20px;
}
label {
    font-weight: bold;
}

.cl-text {
    width: 100%;
    padding: 10px;
    margin: 5px 0 20px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* 입력 필드의 크기를 내부 패딩과 테두리까지 포함하도록 설정 */
}

.custom-select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: #f1f1f1;
  padding: 8px 15px;
  border: none;
  border-radius: 5px;
  width: 120px;
  font-size: 16px;
  cursor: pointer;
}

.custom-select:hover {
  background-color: #e0e0e0;
}

.custom-select:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.custom-select option {
  padding: 10px;
}

/* 선택된 옵션을 강조하기 위한 스타일 */
.custom-select option:checked {
  background-color: #b3d9ff;
}

.partnote {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}