<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.BoardMapper">
    <select id="cl_story" resultType="com.example.demo.domain.CalendarVO">
        <![CDATA[
			select *
			from
		]]>
        <trim prefix="where (" suffix=")" prefixOverrides="or">
            <foreach item="type" collection="typeArr">

                <if test="type == 'T'.toString()">
                    or title like '%' || #{keyword} || '%'
                </if>
                <if test="type == 'W'.toString()">
                    or writer like '%' || #{keyword} || '%'
                </if>
                <if test="type == 'C'.toString()">
                    or content like '%' || #{keyword} || '%'
                </if>

            </foreach>
        </trim>
    </select>
</mapper>