<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.MemberMapper">
    <insert id="insertMember">
        INSERT INTO
            EMPLOYEES (EMP_NUM, EMP_ID, EMP_NAME, EMP_PW, EMP_POS)
        VALUES (emp_sq.nextval, #{emp_id}, #{emp_name}, #{emp_pw}, #{emp_pos})
    </insert>

    <select id="loginMember" resultType="com.example.demo.domain.MemberVO">
        SELECT
            *
        FROM
            EMPLOYEES
        WHERE
            EMP_ID = #{emp_id} AND EMP_PW= #{emp_pw}
    </select>
</mapper>